[Desktop Entry]
Categories=Utility;
Comment=OpenRGB 0.9, for controlling RGB lighting.
Icon=OpenRGB
Name=OpenRGB
StartupNotify=true
Terminal=false
Type=Application
Exec=/usr/bin/openrgb --client localhost:6742 --startminimized --server --server-host 0.0.0.0 --server-port 6742
